<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/bootstrap.css') }}">
    <title>Flask Tutorial</title>
  </head>
  <body>
    <header>
        <nav class="nav nav-pills nav-justified">
          <a class="nav-link fs-5" href="{{ url_for('remote') }}">Remote Control</a>
          <a class="nav-link active fs-5" href="{{ url_for('home') }}">Virtual Assistant</a>
        </nav>
    </header>    {% block content %}

    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    
            <button type="button" onclick="listen()" class="btn btn-light fs-6" style="width:200px; height:50px;">Listen</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" ></script>

    <script>
        
        const socket = io.connect("http://127.0.0.1:5000",{reconnect: true});
function listen() {
    console.log('forward')
  socket.emit('listen', {data: 'listening'});
};
</script>
    {% endblock %}
    <script src="{{ url_for('static',     filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static',     filename='js/bootstrap.js') }}"></script>
  </body>
</html>
